<div class="app-auth-reset">

  <div class="header">
    <h1>Cambiar Contraseña</h1>
    
    <button mat-icon-button matSuffix class="exit" [routerLink]="['/auth']">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="formReset" (ngSubmit)="reset()" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="off" required>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formReset.invalid">{{errorPassword()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repetir contraseña</mat-label>
      <input matInput [type]="hideRepeatPassword ? 'password' : 'text'" formControlName="repeatPassword" autocomplete="off" appPasswordEqualValidator="password" required>  
      <button mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword">
        <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formReset.invalid">{{errorRepeatPassword()}}</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary">Cambiar</button>
  </form>

</div>