.userData {
    text-align: center;
    margin: 10px;

    .icon {
        font-size: 50px;
        width: auto !important;
        height: auto !important;
        margin: 10px;
        color: #74c2e1;
    }
}