<div *ngIf="files === null"> 
  <ion-spinner name="crescent"></ion-spinner>
</div>

<ion-grid *ngIf="files !== null" >
  <ion-row>
    <ion-col size="2" *ngFor="let file of files">
      <ion-card>
        <ion-card-header>
          <mat-icon>{{icon(file)}}</mat-icon>
          <ion-card-title>{{file.name}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>{{file.description}}</p>
          {{file.file_date}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<button (click)="subir()">Subir Documento</button>