<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="sidevar = !sidevar">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
      </ion-buttons>

    <ion-searchbar placeholder="Buscar Archivo" class="search"></ion-searchbar>

    <ion-buttons slot="end">
      <button mat-raised-button color="primary" class="ion-hide-sm-down" (click)="fileModal()">
        Subir Archivo
        <mat-icon>upload_file</mat-icon>
      </button>

      <button mat-mini-fab color="primary" class="ion-hide-sm-up" (click)="fileModal()">
        <mat-icon>upload_file</mat-icon>
      </button>

      <ion-button (click)="userDataPopover($event)">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row class="dashboard">
    <ion-col size-md="3" size-lg="2" *ngIf="sidevar" class="ion-hide-md-down">
      <ion-content *ngIf="categories !== null" class="sidevar">

      <ion-item>
        <mat-icon class="categoryIcon">home</mat-icon>
        <ion-label (click)="setCategory(root)">Principal</ion-label>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let category of categories">
          <mat-icon class="categoryIcon">folder</mat-icon>
          <ion-label (click)="setCategory(category.id)">{{category.name}}</ion-label>
        </ion-item>
      </ion-list>

      <div class="button">
        <button mat-raised-button color="primary" (click)="categoryModal()">
          Crear Categoría
          <mat-icon>create_new_folder</mat-icon>
        </button>
      </div>

      <div class="button" *ngIf="categoryParent.id !== root">
        <button mat-raised-button class="editButton" (click)="categoryModal(categoryParent)">
          Editar Categoría
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </ion-content>
    </ion-col>
    <ion-col size="12" size-sm=2 *ngIf="!sidevar" class="ion-hide-md-up">
      <ion-content *ngIf="categories !== null" class="sidevar">

        <ion-item>
          <mat-icon class="categoryIcon">home</mat-icon>
          <ion-label (click)="setCategory(root)">Principal</ion-label>
        </ion-item>
  
        <ion-list>
          <ion-item *ngFor="let category of categories">
            <mat-icon class="categoryIcon">folder</mat-icon>
            <ion-label (click)="setCategory(category.id)">{{category.name}}</ion-label>
          </ion-item>
        </ion-list>
  
        <div class="button">
          <button mat-raised-button color="primary" (click)="categoryModal()">
            Crear Categoría
            <mat-icon>create_new_folder</mat-icon>
          </button>
        </div>
  
        <div class="button" *ngIf="categoryParent.id !== root">
          <button mat-raised-button class="editButton" (click)="categoryModal(categoryParent)">
            Editar Categoría
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </ion-content>
    </ion-col>
    <ion-col>
      <ion-content class="content">

        <ion-row class="ion-align-items-center">
          <ion-col>
            <h1 class="categoryTitle">{{categoryTitle}}</h1>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="files === null">
          <ion-col>

            <mat-spinner class="spinner"></mat-spinner>

          </ion-col>
        </ion-row>
        <ion-row *ngIf="files !== null && files.length === 0">
          <ion-col>

            <h2>Esta categoría no tiene archivos</h2>

          </ion-col>
        </ion-row>
        <ion-row *ngIf="files !== null">
          <ion-col size=12 size-sm=6 size-md=4 size-lg=2 *ngFor="let file of files">

            <ion-card>
              <ion-card-header>
                <mat-icon>{{setIcon(file)}}</mat-icon>
                <ion-card-title>{{file.name}}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                {{file.file_date}}
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-content>
    </ion-col>
  </ion-row>
</ion-grid>