.toolbar {
  --background: none;
  background-image:
    linear-gradient(135deg, lightblue 0%, transparent 52%),
    linear-gradient(135deg, #4c84ea 0%, transparent 31%),
    linear-gradient(134deg, #090080 -10%, transparent 117%);

  .search {
    max-width: 400px;
    margin: auto;
  }
}

ion-grid {
  height: 100%;
  width: 100%;
  padding: 0;

  .dashboard {
    background-color: #efefef;
    height: 100%;

    ion-col {
        padding: 0;
    }

    .sidevar {
        .categoryIcon {
            color: #74c2e1;
            margin-right: 5px !important;
        }

        .button {
            margin: 10px;
            text-align: center;
            .editButton {
                background-color: #74c2e1 !important;
                color: white;
            }
        }
    }

    .content {
        --background: #efefef;
        text-align: center;

        .categoryTitle {
            padding: 10px !important;
            margin: 0 !important;
        }

        .spinner {
            margin: auto;
        }
    }
  }
}