<div class="app-auth-login">

  <div class="header">
    <h1>Iniciar Sesión</h1>
    
    <button mat-icon-button matSuffix class="exit" [routerLink]="['/auth']">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="formLogin" (ngSubmit)="login()" class="form">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="formLogin.invalid">{{errorEmail()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="off">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formLogin.invalid">{{errorPassword()}}</mat-error>
    </mat-form-field>

    <div class="forgot">
      <a [routerLink]="['/auth/forgot']" routerLinkActive="router-link-active" >Recuperar Contraseña</a>
    </div>

    <button mat-flat-button color="primary">Iniciar sesión</button>
  </form>

</div>
