<div class="app-login">

  <div class="header">
    <h1>Iniciar Sesión</h1>
    <button mat-icon-button matSuffix class="exit" [routerLink]="['/auth']">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="form">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput [formControl]="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="ocultarPassword ? 'password' : 'text'" [formControl]="password" autocomplete="off">
      <button mat-icon-button matSuffix (click)="ocultarPassword = !ocultarPassword">
        <mat-icon>{{ocultarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="login()">Iniciar sesión</button>
  </div>

</div>
