.app-auth-login {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    .header {
        padding: 5px;
        
        h1 {
            font-size: 32px;
        }

        .exit {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    .form {
        mat-form-field {
            display: block;
            max-width: 475px;
            margin: 10px auto;
        }
    }
}